@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  margin: 0 auto;
}

div.ui-list li {
    list-style:none;
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #5f5f5f;
}

.custom-label::before,
.custom-label::after {
  content: none !important;
}

/* For Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 16px;  /* Thicker scrollbar */
  height: 16px;
}

::-webkit-scrollbar-track {
  background: transparent;  /* Optional: you can keep #f0f0f0 if preferred */
}

::-webkit-scrollbar-thumb {
  background-color: #151314;
  border-radius: 8px;
  border: 3px solid transparent; /* Optional: gives padding effect */
  background-clip: content-box;  /* Ensures the padding effect is visible */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #222; /* Darker black on hover */
}

/* For Firefox */
* {
  scrollbar-width: thick; /* Changed from thin to thick */
  scrollbar-color: black transparent; /* Black thumb, transparent track */
}

